node_modules/

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.lock
CACHEDIR.TAG
pyvenv.cfg
.python-version
Lib
Scripts
*.code-workspace

# C++
*.o
*.obj
*.exe
*.out
*.app

# Arduino
*.elf
*.hex
*.bin
*.eep
build-*/
*.ino.with_bootloader*
